h1 {
    font-weight: bold;
    margin-left: 10px;
}

.input-container {
    border: solid 1px black;
    border-radius: 5px;
}

.input-container:focus-within {
    border: solid 2px blue;
}

input {
    border: none;
    border-radius: inherit;
}

input:focus {
    outline: none;
}
